@import url("");

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 901px;
  }
}
